# Generation Rent Hackaton - Team Anorak

## Analysis of Airbnb Data

In [1]:
import pandas as pd

## The datasets:

### reviews 2.csv

Detailed Review Data for listings in Edinburgh

In [60]:
reviews2 = pd.read_csv('airbnb_data/reviews 2.csv')
print(reviews2.shape)
reviews2.head(3)

(259295, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,19454873,178944624,2017-08-06,15628941,Silvia,"Kate has a beautiful home, very clean and conv..."
1,19454873,192388433,2017-09-10,115363252,Ana María,Estuvimos dos noches en el apartamento de Kate...
2,1753906,17205451,2014-08-09,214472,Gabrielle,Ingrid is a very warm -hearted person and made...

### reviews.csv

Summary Review data and Listing ID (to facilitate time based analytics and visualisations linked to a listing).

In [59]:
reviews = pd.read_csv('airbnb_data/reviews.csv')
print(reviews.shape)
reviews.head(3)

(259295, 2)

   listing_id        date
0    19454873  2017-08-06
1    19454873  2017-09-10
2     1753906  2014-08-09

### neighbourhoods.geojson

GeoJSON file of neighbourhoods of the city.

In [46]:
neighbourhoods_geo_json = pd.read_json('airbnb_data/neighbourhoods.geojson')
print(neighbourhoods_geo_json.shape)
neighbourhoods_geo_json.head(3) # neighbourhood_group is all NaN

(111, 2)

                                            features               type
0  {'type': 'Feature', 'geometry': {'type': 'Mult...  FeatureCollection
1  {'type': 'Feature', 'geometry': {'type': 'Mult...  FeatureCollection
2  {'type': 'Feature', 'geometry': {'type': 'Mult...  FeatureCollection

### neighbourhoods.csv

Neighbourhood list for geo filter. Sourced from city or open source GIS files.

In [42]:
neighbourhoods = pd.read_csv('airbnb_data/neighbourhoods.csv')
print(neighbourhoods.shape)
neighbourhoods.head(3) # neighbourhood_group is all NaN

(111, 2)

   neighbourhood_group                   neighbourhood
0                  NaN                       Abbeyhill
1                  NaN      Baberton and Juniper Green
2                  NaN  Balerno and Bonnington Village

### calendar.csv

Detailed Calendar Data for listings in Edinburgh

In [37]:
calendar = pd.read_csv('airbnb_data/calendar.csv')
print(calendar.shape)
calendar.head(3)

(3517870, 4)

   listing_id        date available    price
0    12089682  2018-09-17         t  $100.00
1    12089682  2018-09-16         t  $100.00
2    12089682  2018-09-15         t  $100.00

### listings.csv

Summary information and metrics for listings in Edinburgh (good for visualisations).

In [31]:
listings = pd.read_csv('airbnb_data/listings.csv')
print(listings.shape)
listings.head(1)

(9638, 16)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,12089682,The Hayloft Balerno Edinburgh-Rural Chique,29166668,Christopher,NaN,Balerno and Bonnington Village,55.86746,-3.383965,Entire home/apt,90,3,7,2017-08-29,1.15,1,308

In [34]:
for col in listings.columns:
    print(col)

id
name
host_id
host_name
neighbourhood_group
neighbourhood
latitude
longitude
room_type
price
minimum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365

### listings 2.csv 

Detailed Listings data for Edinburgh

In [26]:
listings2 = pd.read_csv('airbnb_data/listings 2.csv')
print(listings2.shape)
listings2.head(1)

(9638, 96)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12089682,https://www.airbnb.com/rooms/12089682,20170918091737,2017-09-18,The Hayloft Balerno Edinburgh-Rural Chique,Newly converted for 2017 the Hayloft offers a ...,The hayloft has a double bedroom with en-suite...,Newly converted for 2017 the Hayloft offers a ...,none,Buteland Farm - where the Hayloft is located -...,...,f,NaN,NaN,f,t,strict,f,f,1,1.15

In [30]:
for col in listings2.columns[:5]:
    print(col)

id
listing_url
scrape_id
last_scraped
name