# Generation Rent Hackaton - Team Anorak

## Analysis of Airbnb Data

In [1]:
import pandas as pd

## The datasets:

### reviews 2.csv

Detailed Review Data for listings in Edinburgh

In [60]:
reviews2 = pd.read_csv('airbnb_data/reviews 2.csv')
print(reviews2.shape)
reviews2.head(3)

(259295, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,19454873,178944624,2017-08-06,15628941,Silvia,"Kate has a beautiful home, very clean and conv..."
1,19454873,192388433,2017-09-10,115363252,Ana María,Estuvimos dos noches en el apartamento de Kate...
2,1753906,17205451,2014-08-09,214472,Gabrielle,Ingrid is a very warm -hearted person and made...

### neighbourhoods.geojson

GeoJSON file of neighbourhoods of the city.

In [46]:
neighbourhoods_geo_json = pd.read_json('airbnb_data/neighbourhoods.geojson')
print(neighbourhoods_geo_json.shape)
neighbourhoods_geo_json.head(3) # neighbourhood_group is all NaN

(111, 2)

                                            features               type
0  {'type': 'Feature', 'geometry': {'type': 'Mult...  FeatureCollection
1  {'type': 'Feature', 'geometry': {'type': 'Mult...  FeatureCollection
2  {'type': 'Feature', 'geometry': {'type': 'Mult...  FeatureCollection

### neighbourhoods.csv

Neighbourhood list for geo filter. Sourced from city or open source GIS files.

In [42]:
neighbourhoods = pd.read_csv('airbnb_data/neighbourhoods.csv')
print(neighbourhoods.shape)
neighbourhoods.head(3) # neighbourhood_group is all NaN

(111, 2)

   neighbourhood_group                   neighbourhood
0                  NaN                       Abbeyhill
1                  NaN      Baberton and Juniper Green
2                  NaN  Balerno and Bonnington Village

### calendar.csv

Detailed Calendar Data for listings in Edinburgh

In [37]:
calendar = pd.read_csv('airbnb_data/calendar.csv')
print(calendar.shape)
calendar.head(3)

(3517870, 4)

   listing_id        date available    price
0    12089682  2018-09-17         t  $100.00
1    12089682  2018-09-16         t  $100.00
2    12089682  2018-09-15         t  $100.00

### listings 2.csv 

Detailed Listings data for Edinburgh

In [26]:
listings2 = pd.read_csv('airbnb_data/listings 2.csv')
print(listings2.shape)
listings2.head(1)

(9638, 96)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12089682,https://www.airbnb.com/rooms/12089682,20170918091737,2017-09-18,The Hayloft Balerno Edinburgh-Rural Chique,Newly converted for 2017 the Hayloft offers a ...,The hayloft has a double bedroom with en-suite...,Newly converted for 2017 the Hayloft offers a ...,none,Buteland Farm - where the Hayloft is located -...,...,f,NaN,NaN,f,t,strict,f,f,1,1.15

In [61]:
for col in listings2.columns:
    print(col)

id
listing_url
scrape_id
last_scraped
name
summary
space
description
experiences_offered
neighborhood_overview
notes
transit
access
interaction
house_rules
thumbnail_url
medium_url
picture_url
xl_picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
street
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
city
state
zipcode
market
smart_location
country_code
country
latitude
longitude
is_location_exact
property_type
room_type
accommodates
bathrooms
bedrooms
beds
bed_type
amenities
square_feet
price
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
minimum_nights
maximum_nights
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
requires_license
license
jurisdiction_names
instant_bookable
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification
calculated_host_listings_count
reviews_per_month

In [104]:
listings2['neighbourhood'].value_counts()

Leith          2395
Old Town        920
New Town        789
Haymarket       774
West End        519
Southside       512
Marchmont       459
Stockbridge     433
Cannonmills     354
Morningside     304
Tollcross       243
Bruntsfield     223
Newington       190
Name: neighbourhood, dtype: int64

In [91]:
listings2['zipcode'].map(lambda x: str(x).split(' ')[0]).value_counts()[:3]

EH3    1348
EH6    1232
EH7    1212
Name: zipcode, dtype: int64

## EDA

In [87]:
df = pd.read_csv('simd2016_withinds.csv')
deprivation = df[df['Council_area'] == 'City_of_Edinburgh']
deprivation.head()

,Data_Zone,Intermediate_Zone,Council_area,Total_population,Working_age_population_Revised,Overal_SIMD16_Rank,SIMD_2016_Percentile,SIMD_2016_Vigintile,SIMD_2016_Decile,SIMD_2016_Quintile,...,drive_retail,drive_secondary,PT_GP,PT_Post,PT_retail,crime_rate,overcrowded_count,nocentralheat_count,overcrowded_rate,nocentralheat_rate
1911,S01008417,Balerno_and_Bonnington_Village,City_of_Edinburgh,726.0,424.0,5612.0,81.0,17.0,9.0,5.0,...,4.4,4.4,18.4,11.6,12.0,165,17.0,8.0,2%,1%
1912,S01008418,Balerno_and_Bonnington_Village,City_of_Edinburgh,710.0,397.0,6285.0,91.0,19.0,10.0,5.0,...,3.3,5.1,16.8,9.2,9.5,141,7.0,10.0,1%,1%
1913,S01008419,Balerno_and_Bonnington_Village,City_of_Edinburgh,526.0,326.0,5717.0,82.0,17.0,9.0,5.0,...,2.0,3.2,16.1,7.2,7.5,171,30.0,0.0,6%,0%
1914,S01008420,Balerno_and_Bonnington_Village,City_of_Edinburgh,488.0,287.0,6737.0,97.0,20.0,10.0,5.0,...,2.0,3.4,13.7,4.7,5.0,82,2.0,0.0,0%,0%
1915,S01008421,Balerno_and_Bonnington_Village,City_of_Edinburgh,885.0,543.0,3530.0,51.0,11.0,6.0,3.0,...,2.3,2.8,14.7,7.0,7.2,136,61.0,6.0,7%,1%

In [105]:
deprivation['Intermediate_Zone'].value_counts()

Blackford,_West_Mains_and_Mayfield_Road    8
Meadows_and_Southside                      8
Stenhouse_and_Saughton_Mains               8
Dalry_and_Fountainbridge                   8
Comiston_and_Swanston                      8
Balerno_and_Bonnington_Village             8
Morningside                                8
The_Shore_and_Constitution_Street          7
Marchmont_West                             7
The_Grange                                 7
Hillside_and_Calton_Hill                   7
East_Craigs_South                          7
Stockbridge                                7
Corstorphine                               7
Boswall_and_Pilton                         7
Great_Junction_Street                      7
Bruntsfield                                7
Deans_Village                              7
Blackhall                                  7
Clermiston_and_Drumbrae                    7
Tollcross                                  7
Willowbrae_and_Duddingston_Village         7
Craigleith,_Orchard_Brae_and_Crewe_Toll    6
Trinity                                    6
Niddrie                                    6
Joppa                                      6
Corstorphine_South                         6
Portobello                                 6
Canongate,_Southside_and_Dumbiedykes       6
Gracemount,_Southhouse_and_Burdiehouse     6
                                          ..
Granton_South_and_Wardieburn               4
Comely_Bank                                4
Ratho,_Ingliston_and_Gogar                 4
Mountcastle                                4
Granton_and_Royston_Mains                  4
Broughton_North_and_Powderhall             4
Bonnington                                 4
Liberton_East                              4
Oxgangs                                    4
Liberton_West_and_Braid_Hills              4
Inverleith,_Goldenacre_and_Warriston       4
Currie_East                                4
Barnton,_Cammo_and_Cramond_South           4
Northfield_and_Piershill                   4
Parkhead_and_Sighthill                     4
Canonmills_and_New_Town_North              4
New_Town_East_and_Gayfield                 4
Pilrig                                     4
Prestonfield                               4
Moredun_and_Craigour                       4
Western_Harbour_and_Leith_Docks            4
Carrick_Knowe                              4
New_Town_West                              4
Craigentinny                               4
Leith_(Albert_Street)                      4
Gilmerton_South_and_the_Murrays            3
Abbeyhill                                  3
Mortonhall_and_Anwickhill                  3
Cramond                                    3
Corstorphine_North                         3
Name: Intermediate_Zone, Length: 111, dtype: int64

In [117]:
deprivation.shape

(597, 47)

In [116]:
deprivation.head()

,Data_Zone,Intermediate_Zone,Council_area,Total_population,Working_age_population_Revised,Overal_SIMD16_Rank,SIMD_2016_Percentile,SIMD_2016_Vigintile,SIMD_2016_Decile,SIMD_2016_Quintile,...,drive_retail,drive_secondary,PT_GP,PT_Post,PT_retail,crime_rate,overcrowded_count,nocentralheat_count,overcrowded_rate,nocentralheat_rate
1911,S01008417,Balerno_and_Bonnington_Village,City_of_Edinburgh,726.0,424.0,5612.0,81.0,17.0,9.0,5.0,...,4.4,4.4,18.4,11.6,12.0,165,17.0,8.0,2%,1%
1912,S01008418,Balerno_and_Bonnington_Village,City_of_Edinburgh,710.0,397.0,6285.0,91.0,19.0,10.0,5.0,...,3.3,5.1,16.8,9.2,9.5,141,7.0,10.0,1%,1%
1913,S01008419,Balerno_and_Bonnington_Village,City_of_Edinburgh,526.0,326.0,5717.0,82.0,17.0,9.0,5.0,...,2.0,3.2,16.1,7.2,7.5,171,30.0,0.0,6%,0%
1914,S01008420,Balerno_and_Bonnington_Village,City_of_Edinburgh,488.0,287.0,6737.0,97.0,20.0,10.0,5.0,...,2.0,3.4,13.7,4.7,5.0,82,2.0,0.0,0%,0%
1915,S01008421,Balerno_and_Bonnington_Village,City_of_Edinburgh,885.0,543.0,3530.0,51.0,11.0,6.0,3.0,...,2.3,2.8,14.7,7.0,7.2,136,61.0,6.0,7%,1%

In [118]:
simd16 = pd.read_csv('simd16.csv')
simd16.head()

,Postcode,DZ,SIMD16_Rank,SIMD16_Vigintile,SIMD16_Decile,SIMD16_Quintile
0,AB1 0AA,S01006514,6808,20,10,5
1,AB1 0AB,S01006514,6808,20,10,5
2,AB1 0AD,S01006514,6808,20,10,5
3,AB1 0AE,S01006853,5503,16,8,4
4,AB1 0AF,S01006511,6668,20,10,5